$font_size_main: 16px;
$font_color_main: #565656;
$font_color_title: #212353;
$font_color_text: #4B5D68;
$arrow-color: #9C69E2;

$width_container: 1170px;
$adaptive_width_container: calc($width_container / 2);